@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f5f7;
    font-family: 'IBM Plex Sans', sans-serif;
   
}


.side::-webkit-scrollbar {
    display: none;
}
/* *::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
} */
*::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}
*::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: 1px solid slategrey;
}
*::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: 1px solid slategrey;
}
*::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
*::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

